node_modules
.DS_Store
dist/
build/
*.log
.env*
!.env.example
coverage/
.nyc_output/
*.tsbuildinfo
.cache/
frontend/.vite*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases 
!.yarn/sdks
!.yarn/versions
